body{
  background-color: #333;
}

.btn{
  margin: 1em;
}


.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(76, 195, 211);
  height: 100px;
    padding:0;
    margin:0;
}

#dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #333;
  height: 100px;
}

.die {
  border: 2px solid white;
  color: white;
  height: 100px;
  width: 100px;
}